body {
    background-color: rgba(24, 7, 120, 0.176);
}

h3 {
    font-family: "Pangolin", cursive;
    font-weight: 700;
    font-size: 2em;
    color: rgb(135, 106, 163);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    width: 400px;
    height: 400px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

h5, button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: rgb(135, 106, 163);
}

#next{
    background-color:rgb(135, 106, 163);
    border: none;
    padding: 8px 20px;
    border-radius: 15px;
    color: white;
    box-shadow: 2px 4px 0 rgb(72, 51, 93);
    transition: transform 0.2s;
}

#next:hover{
    background-color: white;
    color: rgb(135, 106, 163);
    box-shadow: 2px 6px 0 rgb(143, 118, 167);
}

#next:active {
    transform: scale(1.2);
    background-color: rgb(135, 106, 163);
    color: white;
}